
body{
    font-family: Arial, sans-serif;
   margin: 0;
   padding: 0;
    overflow-x: hidden;  
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    z-index: 500;

}

.logo {
    margin-left: 80px;
}
.logo img{
    display: flex;
    height: 50px;
}
.menu {
    display: flex;
    margin-right: 80px;
}
.menu li {
    margin: 0 37px;
    list-style: none;
}
.menu li a  {
    font-size: 18px;
    text-decoration: none;
    color: black;
    position: relative;
}
select{
    border: none;
    background-color: white;
}

.menu .contact {
    background-color: #cc0000;
    color: #ffffff;
    padding: 5px;
    border-radius: 15PX;
    width: 85px;
    border: none;
    height: 35px;

}

#history {
    display: flex;
        width: 100%;
        height: 1000px;
        background-color: white; 
    
}
.history-us{
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 100%;
   margin-top: 50px;
}
 .big-titre{
    display: flex;
    background-color:white;
    justify-content: center;
    text-align: center; 
    align-items: center;
    color: #cc0000;
    font-size: 30px;
    font-weight: bold;
    width: 90%;
    margin: auto;
    

 }
  .lorem-fabrique{
    display: flex;
    width: 90%;
    margin: auto;
    gap: 70px;
 }
 
 .history-gauche, .history-droite{
    display: flex;
    width: 50%;

    
 }

  .history-gauche {
    display: flex;
    height: 20%;
    background-color: #cc0000;
    color: white;
    flex-direction: column;
    padding: 0 0 70px 50px;
    box-shadow: 0 15px #ed6666,  0 25px rgb(248, 182, 182);
    border-bottom-right-radius: 100PX;
    margin-top: 50px;
    
 }
 .history-gauche p{
    display: flex;
    color: white;
    font-size: 50px;
    margin-top: 20px;
    
 }
 
 .history-gauche span{
    display: flex;
    color: white;
    font-size: 55px;
    padding-left: 450px;
    margin-top: -40px;
 }
 
 .history-droite{
    display: flex;
    position: relative;
    height: 600px;
    
 }

.red-page{
    
    background-color: #cc0000;
    width: 95%; 
    border-radius: 10px;
    transform: rotate(5deg);
    position: absolute;
    height: 95%;
}

.fabrique-lorem {
    font-size: 20px;
    background-color: #ffffff;
    margin-left: 28px;
    margin-top: 25px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    border-radius: 10px;
    transform: rotate(-1deg);
    width: 95%; 
    height: 96%;
    display: flex;
    text-align: center;
    flex-direction: column;
    position: relative;
    
}
.quote-a{
    margin-left: 20px;
    position: absolute;
    font-size: 60px;
}
.quote-b{
    margin-left: 320px;
    font-size: 60px;
}
 .text p{
    margin-top: 55px;
    line-height: 2;
  text-align: center;
  width: 460px;
  padding-left: 50px;
    
}

.pied-section{
    display: flex;
    justify-content: center;
    text-align: center; 
    align-items: center;
    width: 90%;
    margin: auto;
    gap: 15px;

 }
.a{
    background-color: #cc0000;
    width: 10px;
    height: 10px;
    border-radius: 15px;
}
.b{
    background-color: #cc0000;
    width: 10px;
    height: 10px;
    border-radius: 15px;
} 
.c{
    background-color: #cc0000;
    width: 50px;
    height: 15px;
    border-radius: 25px;
} 
/* section pedagogie */
#pedagogie {
    display: flex;
    width: 100%;
    height: 600px;
    
}
.notre-pedagogie{
    display: flex;
    flex-direction: column;
    width: 100%;
    
}
.big-titre{
    display: flex;
    justify-content: center;
    text-align: center; 
    align-items: center;
    color: #cc0000;
    font-size: 30px;
    font-weight: bold;
    width: 90%;
    margin: auto;

 }
 .content-pedagogie{
    display: flex;
    width: 90%;
    margin: auto;
 }
 
.pedagogie-left .pedagogie-right{
    width: 50%;

}
.pedagogie-left{
    display: flex;
 
 }
 .pedagogie-right{
    display: flex;
    flex-direction: column;
    padding-left: 35px;
 }
.pedagogie-right h3{
    color: #cc0000;
    font-size: 30px;
}
.pedagogie-right p{
    color:black;
    font-size: 20px;
    line-height: 2;

}
.pedagogie-bottom{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center; 

}
.pedagogie-bottom .a{
    display: flex;
    height: 10px;
    width: 90px;
    border-radius: 10px;
    background-color: #cc0000;
   
}
/* section plier */
#pilier{
    width: 100%;
    height: 950px;
    display: flex;
 
}
.content-pilier{
    display: flex;
    width: 90%;
    margin: auto;
    height: 850px;
}
#pilier .left, .right{
    width: 50%;
}
#pilier .left h3{
    display: flex;
    font-size: 35px;
    color: #cc0000;
    font-weight: bold;
}
#pilier .left .grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 40px;   
}
#pilier .items{
    padding: 10px;
    background-color: white;
    box-shadow: 10px 10px 10px 10px #e0e0e0;
    border-radius: 5px;
    justify-content: space-between;
    width: 250px;
    height: 195px;
    border-bottom: 10px solid #cc0000 ;
    
}
#pilier .items h1{
    color:#cc0000 ;
    font-size: 25px;
}
#pilier .items p{
    color: #000;
    font-size: 15px;
}
#pilier .items span{
    color: gray;
    font-size: 15px;
}
#pilier .right{
    padding-left:100px;
    width: 50%;
    display: flex;
    flex-direction: column;
    
}
.right .photo{
    display: flex;
    position: relative;
}
#pilier .right .apprenants img{
    border-radius: 35px;
    width: 500px;
    height: 820px;   
    margin-top: 20px;
    z-index: 200;
  position: relative;
  margin-left: 50px;
}
#pilier .right .fond{
    border-radius: 35px;
    width: 500px;
    height: 800px;
    background-color: #cc0000;
    position: absolute; 
    margin-left: 90px;
   
}
.pied-pilier .pied-section{
    display: flex;
    justify-content: center;
    position: absolute;
    margin-left: -350px;
    margin-top: -50px;
    z-index: 500;
}  
.pied-pilier .a{
    background-color: white;
    width: 10px;
    height: 10px;
    border-radius: 15px;
   
}
.pied-pilier .b{
    background-color: white;
    width: 10px;
    height: 10px;
    border-radius: 15px;
} 
.pied-pilier .c{
    background-color: white;
    width: 50px;
    height: 15px;
    border-radius: 25px;
} 


/* section valeur */

#nos-valeur{
    width: 100%;
    height: 800px;
    display: flex;

}
.content-valeur{
    display: flex;
    flex-direction: column;
    width: 100%;
    
}
.valeur{
    display: flex;
    width: 90%;
    margin: auto;
    gap: 50px;
}
.valeur-left, .valeur-right{
    display: flex;
    width: 50%;
    
}
#nos-valeur .valeur-left{
    display: flex;
    flex-direction: column;
  
}

#nos-valeur .valeur-left h3{
    color: #cc0000;
    font-size: 35px;
}
.valeur-left p{
    color:black;
    font-size: 20px;
    line-height: 2;
}
.plus {
    display: flex;
    text-align: center;
}

#nos-valeur .valeur-left .plus button{
    background-color: #cc0000;
    width: 250px;
    height: 70px;
    border-radius: 35px;
    border: none;
    color: #ffffff;
    font-weight: bold;
}



.plus p{
    margin-top: 10px;
    color: #ffffff;
    font-weight: bold;
}

 .respect{
    display: flex;
} 
.arrow img{
    display: flex;
    margin-top: 210px;
    

   
}
 .valeur-right .grid{
    display: grid;
    padding: 15px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 40px;   
   
}

.valeur-right .ligne{
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 5px #e0e0e0;
    justify-content: space-between;
    display: flex;
    width: 100%;
    height: 100px;
}
.valeur-right .ligne button{
    color:#cc0000 ;
    font-size: 25px;
    border-radius: 40px;
    width: 80px;
    height: 80px;
    padding: 10px;
    border: none;
    background-color: #efd5d5;
}
.valeur-right .ligne .continu{
    display: flex;
    flex-direction: column;
}
.valeur-right .ligne p{
    color: #000;
    font-size: 25px;
    margin-right: 280px;
    position: relative;

}
.valeur-right .ligne span{
    color:black;
    font-size: 15px;
    margin-top: 60px;
    margin-left: -1px;
    position: absolute;
}

#Formation{
    width: 100%;
    height: 400px;
    display: flex;

}
.content-formation{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    justify-content: center;
}
#Formation .chiffre {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    background-color: #cc0000;
    width: 100%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-left: 100px;
    
} 

.chiffre .cas{
    gap: 10px;
    width: 250px;
}
.chiffre .cas h1{
    color: #ffffff;
    font-size: 40px;
}
.chiffre .cas p{
    color: white;
    font-size: 20px;
}

/* section equipe */
#notre-equipe{
    width: 100%;
    height: 850px;
    display: flex;
  

}
.content-equipe {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    font-weight: bold;
  
    
}
.content-equipe .big-titre{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    text-align: center;
    align-items: center;
    font-weight: bold;
    font-size: 30px;
    
    
}
.content-equipe  h6{
    display: flex; 
    color:black;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 2px;
    width: 600px;
    font-size: 20px;
  
}


#notre-equipe .grid{
    display: flex;
    justify-content: space-around;
    width:1450PX;

}
.cellule{
    width: 300px;
    height: 450px;
    padding-left: 15px;
    gap: 15px;
    justify-content: space-around;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 5px 10px 10px 10px #e0e0e0 ;

}
.cellule h3{
    font-size: 30px;
    margin-left: 5px;
}
#notre-equipe .grid .cellule span{
    font-size: 20px;
    color: #cc0000;
 
}
#notre-equipe .grid .cellule p{
    font-size: 15px;
    color: grey;
    
}
#notre-equipe .grid .cellule img{
    margin-left: 5px;
    margin-top: 15px;
    
}
#notre-equipe .grid .cellule .reseau{
    display: flex;
    
}

.reseau img {
    height: 30px;
    width: 30px;
}
.content-equipe .pied-section{
    margin-top: 70px;
}

/* section recructement */
#recrutement{
    width: 100%;
    height: 500px;
    margin: auto;
    display: flex;

}
.content-recrutement{
    display: flex; 
    flex-direction: column;
    width: 100%;
    
}
.communique{
   display: flex;
   width: 90%;
   margin: auto;
   
}
.recrutement-left, .recrutement-right{
    display: flex;
    width: 50%;
    margin: auto;
 }
 .recrutement-left img {
    display: flex;
    width: 600px;
  
 }
 
.recrutement-right{
    display: flex;
    flex-direction: column;
  

}
.recrutement-right h3{
    color: #cc0000;
    font-size: 25px;
}
.recrutement-right p{
    color:black;
    font-size: 15px;
    line-height: 2;

}
/* section offre */
#offre{
    background-color: white;
    width: 100%;
    height: 570px;
}
#offre .offre-cours {
    width: 40%;
    height: 520px;
    padding-left: 30px;
    padding-top: 20px;
    background-color: #f6ebf0;
    border-radius: 20px;
    margin-left: 70px;
}

.offre-cours h2{
    border-bottom: 2px solid #ff007f;
    color: #cc0000;
}

.referent {
    height: 200px;
    display: flex;


}

.offre-cours .post {
    height: 200px;
    width: 50%;

}
.offre-cours .post h5{
    color: #cc0000;
}


.offre-cours .tiret {
    width: 30px;
    height: 5px;
    background-color: #cc0000;
    margin-left: 140px;
    margin-top: 30px;
}

.offre-cours .adresse {
    height: 120px;
    width: 130px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 20px;
    line-height: 1px;
    margin-top: 10px;
    
}
.offre-cours .adresse div{
    display: flex;
}
.offre-cours .adresse div img{
    width: 17px;
    height: 17px;
    margin-top: 5px;
    margin-left: 5px;
}

.Postuler button{
    background-color: #cc0000;
    border-radius: 30px;
    padding: 8px;
    width: 100px;
    color: #ffffff;
    border: none;
    margin-left: 200px;
}

.offre-cours .border {
    border: 1px solid #ff007f;
    margin-top: 15px;

}

.offre-cours .lien {
    margin-top: 10px;
    margin-left: 450px;
}
#offre .formulaire {
    width: 40%;
    height: 520px;
    padding-left: 30px;
    padding-top: 20px;
    background-color:white;
    margin-left: 750px;
    margin-top: -540px;
  
}

#offre .formulaire .contact input{
    border-radius: 10px;
    padding-left: 20px;
    height: 60px;
    width: 250px;
    border: 1px solid rgb(201, 200, 200);

}
.forma-ref{
    display: flex;
}
.form-reference{
    display: flex;
}
.forma-ref img{
    padding-left: 350px;
    height: 50px;
    align-items: center;
}
.fleche{
    display: flex;
    color: #000;
}
.fleche a{
    display: flex;
    color: #000;
}

.fleche img{
    display: flex;
    margin-top: 7px;
}
.form-reference img{
    padding-left: 350px;
    height: 50px;
}
#offre .formulaire .adress input{
    border-radius: 10px;
    padding-left: 20px;
    margin-top: 15px;
    height: 60px;
    width: 250px;
    border: 1px solid rgb(201, 200, 200);
}
#offre .formulaire .message textarea{
    border-radius: 10px;
    flex-direction: column;
    padding-left: 20px;
    height: 120px;
    width: 530px;
    border: 1px solid rgb(201, 200, 200);

}
#offre .formulaire .valide input{
    height: 20px;
    width: 20px;
    
}
#offre .formulaire .valide p{
    margin-left: 30px;
    margin-top: -20px;
    
}
#offre .formulaire .bouton button{
    height: 50px;
    width: 150px;
    background-color: #cc0000;
    color: white;
    margin-top: 20px;
    border-radius: 25px;
    border: none;
    
}
#offre .formulaire .bouton p{
    color:grey ;
    margin-top: 20px;
    
}
#offre .formulaire .fichier p{
    margin-left: 400px;
    margin-top: 20px;
    color: #f13e3e;
    
}


/* section partenaire */
#partenaires{
    width: 100%;
    height: 650px;
    display: flex;
    flex-direction: column;

    
}
 .content-partenaires {
    width: 100%;
    margin: auto; 
    
}

#partenaires .contener{
    width: 60%;
    margin: auto;
    justify-content: center;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-top: 60px;
}
#partenaires .contener .items{
    width: 250px;
    height: 150px; 
    display: flex;
    justify-content: space-between;

}
.contener .items img{
    width: 250px;
    height: 150px; 
    display: flex;
    justify-content: space-between;

}
.content-partenaires .pied-section{
    margin-top: 70px;
}


/* section footer */
#footer{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-between;
    background-color:black;
 display: flex;
}
#footer .logo img{
     display: flex;
     margin-top: 30px;
     color: white;
     display: flex;
     width: 200px;
}
#footer .media {
    display: flex;
    width: 15px;
    height: 15px;
    margin-top: 10px;

}

#footer .voir-plus{
    margin-top: 30px;
}
#footer .voir-plus span{
    color: white;
    font-size: 30px;
    font-weight: bold;
}
#footer .voir-plus p{
    margin-top: 50px;
    color: white;
    font-size: 15px;
    line-height: 2;
    
}
#footer .coordonne{
    margin-top: 7px;
}
#footer .coordonne p{
    color: white;
    font-size: 30px;
    font-weight: bold;
}
#footer .coordonne span{
    margin-top: 50px;
    color: white;
    font-size: 15px;
    line-height: 2;
    
}

#footer .newsletter{
    margin-top: 7px;
}
#footer .newsletter p{
    color: white;
    font-size: 30px;
    font-weight: bold;
}
#footer .newsletter span{
    margin-top: 50px;
    color: white;
    font-size: 15px;
    line-height: 2;
    
}

#footer .connecte{
    margin-top: 50px;
    margin-right: 150px;
}
#footer .connecte input{
    margin-top: -5px;
    width: 150px;
    height: 35px;
    border-radius: 10px 0px 10px 10px ;
    border: none;
    padding-left: 15px;
}
#footer .ajouter input{
    margin-top: -37px;
    width: 60px;
    height: 35px;
    margin-left: 147px;
    border-radius: 7px 10px 10px 0px;
    border: none;
    color: white;
    background-color: #cc0000;
    position: absolute;
    padding-left: 15px;
}
#footer .connecte .ajouter placeholder{
    color: white;
}

#pied{
    width: 100%;
    height: 70px;
    background-color: #cc0000;
    display: flex;
}
.ref p{
    display: flex;
    color: #ffffff;
    text-align: center;
    font-size: 20px;
    margin-left: 60px;
    margin-top: 30px;
}
.ref span{
    display: flex;
    color: #ffffff;
    text-align: center;
    font-size: 15px;
    margin-left: 1200px;
    margin-top: -40px;
}
.ref span i{
    display: flex;
    color: black;
    
}
button{
    cursor: pointer;
}








