header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    z-index: 500;


}

.logo {
    margin-left: 50px;
}
.logo img{
    display: flex;
    height: 50px;
}

.menu {
    display: flex;
}

.menu li {
    margin: 0 47px;
    list-style: none;
}
.menu li a  {
    font-size: 14px;
    text-decoration: none;
    color: black;
    position: relative;
}
/* .search-button {
    padding: 10px 15px;
    font-size: 16px;
    color: white;
    
} */

/* .menu li a::before {
    position: absolute;
    top: -5px;
    left: 0;
    content: "";
    width: 0;
    height: 2px;
    border-radius: 6px;
    background-color: #27ae60;
    transition: 0.5s; 
} /

/ .menu li a::after {
    position: absolute;
    bottom: -5px;
    right: 0;
    content: "";
    width: 0;
    height: 2px;
    border-radius: 6px;
    background-color: #27ae60;
    transition: 0.5s; 
} */
.menu li a:hover::after {
    width: 100%;
}
.menu li a:hover {
    color: #000;
}

.contact {
    background-color: #cc0000;
    color: #ffffff;
    padding: 5px;
    border-radius: 15PX;
    width: 80px;
    border: none;

}

#history {
         margin-top: -10px; 
        /* display: flex; */
        align-items: center;
        /* margin-left: 10%; */
        /* margin-right: 10%; */
        width: 100%;
        height: 700px;
        background-color: aliceblue; 
        justify-content: space-between;
}
#history h1{
    text-align: center;
    margin-top: 100px;
    color: #cc0000;
    font-size: 40px;
    font-weight: bold;
}
.fabrique-lorem{
    margin-top: 5px;
    display: flex; 
    align-items: center;
    /* margin-left: 10%; */
    margin-right: 10%;
    justify-content: space-between;
}
.history-righ{
    display: flex;
}
.red-page{
    font-size: 20px;
    background-color: red;
    padding: 50px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    border-radius: 10px;
    width: 20%;
    height: 35%; 
    margin-left: -50x;
    transform: rotate(5deg);
    margin-top: 20px;
    /* margin-left: 15px; */
    position: absolute;

}
.lorem {
    font-size: 20px;
    background-color: #ffffff;
    padding: 50px;
    position: relative;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    border-radius: 10px;
    /* width: 30%; */
    transform: rotate(-2deg);
    margin-top: 40px;
    margin-left: 15px;

}

.fabrique {
    background-color: #cc0000;
    width: 550px;
    height: 150px;
    margin-top: 25px;
    padding: 0%;
    margin-left: 100px;
    color: #ffffff;
    box-shadow: 0 15px #f13e3e,  0 25px rgb(181, 100, 100);
    border-bottom-right-radius: 100PX;
}
.fabrique h3{
    font-size: 35PX;

}
.fabrique h1{
    margin-top: 15px;
    font-size: 15px;
    color: white;
}
.pied-history{
    position: absolute;
    margin-top: 50px;
    /* background-color: #cc0000; */
    flex-direction:column ;
    width: 40px;
    height: 15px;
    justify-content: center;
   
} 
.pied-history .a{
    position: absolute;
    margin-top: 50px;
    background-color: #cc0000;
    flex-direction:column ;
    width: 10px;
    height: 10px;
    border-radius: 15px;
    margin-left: 650px;
}
.pied-history .b{
    position: absolute;
    margin-top: 50px;
    background-color: #cc0000;
    flex-direction:column ;
    width: 10px;
    height: 10px;
    border-radius: 15px;
    margin-left: 700px;
} 
.pied-history .c{
    position: absolute;
    margin-top: 50px;
    background-color: #cc0000;
    flex-direction:column ;
    width: 50px;
    height: 15px;
    border-radius: 25px;
    margin-left: 750px;
} 
/* section pedagogie */
#pedagogie{
    width: 100%;
    height: 600px;
    margin-top: -30px;
    background-color:blueviolet ;
    display: flex;

}
#pedagogie .titre-pedagogie h1{
    display: flex; 
    /* text-align: center;
    align-items: center;
    justify-content: center; */
    color: red;
    margin-top: 10px;
    width: 390px;
    font-weight: bold;
    font-size: 50px;
    padding-left: 600px;
    position: relative;
}
#pedagogie .pedagogie-left{
   display: flex;
   margin-top: 150px;
   position: absolute;
   margin-left: 100px;
}
#pedagogie .pedagogie-right{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-left: -250px;
    width: 550px;

}
.pedagogie-right h3{
    color: red;
    font-size: 35px;
}
.pedagogie-right p{
    color:black;
    font-size: 25px;

}
.pedagogie-bottom{
    height: 10px;
    width: 90px;
    border-radius: 10px;
    background-color: #cc0000;
    position: absolute;
    margin-top: 500px;
    margin-left: 650px;
}
#pilier{
    width: 100%;
    height: 900px;
    background-color: aqua;
    margin-top: -20px;
    display: flex;
}
#pilier .left{
    background-color: #81d334;
    width: 50%;
}
#pilier .left h3{
    display: flex;
    justify-content: center;
    font-size: 35px;
    color: #cc0000;
    font-weight: bold;
}
#pilier .left .grid{
    display: grid;
    padding: 100px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 40px;   
    margin-top: -70px;
}
#pilier .items{
    padding: 10px;
    background-color: aliceblue;
    border-radius: 5px;
    justify-content: space-between;
    width: 250px;
    height: 180px;
    border-bottom: 10px solid #cc0000 ;
    
}
#pilier .items h1{
    color:#cc0000 ;
    font-size: 25px;
}
#pilier .items p{
    color: #000;
    font-size: 15px;
}
#pilier .items span{
    color: gray;
    font-size: 15px;
}
#pilier .right{
    padding: 100px;
    width: 50%;
}
#pilier .right .apprenants img{
    border-radius: 35px;
    width: 500px;
    height: 750px;

}
#pilier .right .fond{
    border-radius: 35px;
    width: 500px;
    height: 750px;
    background-color: #cc0000;
    margin-left: 20px;
    margin-top: -770px;
}
/* section valeur */

#nos-valeur{
    width: 100%;
    height: 800px;
    background-color: bisque;
    display: flex;

}
#nos-valeur .titre-valeur h1{
    display: flex; 
    color: red;
    margin-top: 10px;
    width: 390px;
    font-weight: bold;
    font-size: 50px;
    padding-left: 600px;
    position: relative;
}
#nos-valeur .valeur-left{
    display: flex;
    flex-direction: column;
    margin-top: 90px;
    margin-left: -900px;
    width: 550px;
    background-color: #afd211;
}
#nos-valeur .valeur-left h3{
    color: red;
    font-size: 35px;
}
.valeur-left p{
    color:black;
    font-size: 20px;
    line-height: 2;
}
#nos-valeur .valeur-left .plus button{
    background-color: red;
    width: 230px;
    height: 70px;
    border-radius: 35px;
    border: none;
    color: #ffffff;
    font-weight: bold;
}
#nos-valeur .arrow i{
    display: flex;
    width: 100px;
    height: 200px;
    margin-top: 50px;
   text-align: center;
   
}
#nos-valeur .valeur-left .plus p{
    
    color: #ffffff;
    font-weight: bold;
}
 .valeur-right .grid{
    display: grid;
    padding: 100px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 40px;   
    margin-top: -5px;
}
.valeur-right .ligne{
    padding: 10px;
    background-color: aliceblue;
    border-radius: 5px;
    justify-content: space-between;
    width: 500px;
    height: 100px;
    display: flex;

    
}

.valeur-right .ligne button{
    color:#cc0000 ;
    font-size: 25px;
    border-radius: 40px;
    width: 80px;
    height: 80px;
    padding: 10px;
    border: none;
    background-color: #efd5d5;
}
.valeur-right .ligne .continu{
    display: flex;
    flex-direction: column;
}
.valeur-right .ligne p{
    color: #000;
    font-size: 25px;
    margin-right: 280px;
    position: relative;
}
.valeur-right .ligne span{
    color:black;
    font-size: 15px;
    margin-top: 50px;
    margin-left: -1px;
    position: absolute;
}
#Formation{
    width: 100%;
    height: 400px;
    margin-top: 0px;
    background-color:olivedrab;
    display: flex;
    position: relative;

}
#Formation .titre-chiffre h1{
    display: flex; 
    color: red;
    margin-top: 50px;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-weight: bold;
    font-size: 50px;
    padding-left: 600px; 

}
#Formation .chiffre {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    background-color: #cc0000;
    width: 100%;
    justify-content: space-between;
    
    height: 250px;
    margin-top: 150px;
    position: absolute;
    flex-direction: column;
} 
.chiffre .cas{
    width: 190px;
    height: 20px;
    gap: 10px;
    margin-left: 15px;
    padding: 65px;
}
.chiffre .cas h1{
    color: #ffffff;
    font-size: 40px;
}
.chiffre .cas p{
    margin-top: -35px;
    color: white;
    font-size: 20px;
}

#Formation .equipe h1{

    color: red;
    margin-top: 50px;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-weight: bold;
    font-size: 50px;
    padding-left: -150px;
    margin-top: 400px; 
    position: absolute ;

}
/* section equipe */
#notre-equipe{
    width: 100%;
    height: 800px;
    margin-top: 0px;
    background-color: white;
    display: flex;
  

}
#notre-equipe .staff h1{
    display: flex; 
    color: red;
    margin-top: 50px;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-weight: bold;
    font-size: 50px;
    margin-left: 50px;
}
#notre-equipe .staff h6{
    display: flex; 
    color:black;
    margin-top: 90px;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 2px;
    width: 600px;
    font-weight: bold;
    font-size: 20px;
    /* padding-left: 450px;  */
    margin-left: 450px;
}


#notre-equipe .grid{
    display: flex;
    justify-content: space-around;
    width:1450PX;

    /* margin-left: 200px; */
}
#notre-equipe .grid .cellule{
   
    width: 300px;
    height: 450px;
    gap: 15px;
    justify-content: space-around;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 5px 10px 10px 10px #e0e0e0 ;

}
#notre-equipe .grid .cellule h3{
    font-size: 30px;
    margin-left: 35px;
}
#notre-equipe .grid .cellule span{
    font-size: 20px;
    color: #cc0000;
    margin-top: -20px;
    margin-left: 35px;
}
#notre-equipe .grid .cellule p{
    font-size: 15px;
    color: grey;
    margin-left: 35px;
}
#notre-equipe .grid .cellule img{
    margin-left: 35px;
    margin-top: 15px;
    
}
#notre-equipe .grid .cellule .reseau{
    display: flex;
    
}

.reseau img {
    height: 30px;
    width: 30px;
}
.pied-equipe{
    position: absolute;
    margin-top: 700px;
    /* background-color: #cc0000; */
    flex-direction:column ;
    width: 40px;
    height: 15px;
    justify-content: center;
   
} 
.pied-equipe .a{
    position: absolute;
    margin-top: 50px;
    background-color: #cc0000;
    flex-direction:column ;
    width: 10px;
    height: 10px;
    border-radius: 15px;
    margin-left: 650px;
}
.pied-equipe .b{
    position: absolute;
    margin-top: 50px;
    background-color: #cc0000;
    flex-direction:column ;
    width: 10px;
    height: 10px;
    border-radius: 15px;
    margin-left: 700px;
} 
.pied-equipe .c{
    position: absolute;
    margin-top: 50px;
    background-color: #cc0000;
    flex-direction:column ;
    width: 50px;
    height: 15px;
    border-radius: 25px;
    margin-left: 750px;
} 
/* section recructement */
#recrutement{
    width: 100%;
    height: 500px;
    /* margin-top: -30px; */
    background-color:blueviolet ;
    display: flex;

}
#recrutement .titre-recrutement h1{
    display: flex; 
    color: red;
    margin-top: 10px;
    width: 390px;
    font-weight: bold;
    font-size: 50px;
    padding-left: 600px;
    
}
#recrutement .recrutement-left{
   display: flex;
   margin-top: 140px;
   position: absolute;
   margin-left: 10px;
}
#recrutement .recrutement-left img{
    display: flex;
    width: 600px;
    margin-left: 100px;
 }
 
#recrutement .recrutement-right{
    display: flex;
    flex-direction: column;
    margin-top: 120px;
    margin-left: -220px;
    width: 500px;

}
.recrutement-right h3{
    color: red;
    font-size: 25px;
}
.recrutement-right p{
    color:black;
    font-size: 15px;
    line-height: 2;

}
/* section offre */
#offre{
    background-color: cadetblue;
    width: 100%;
    height: 700px;
}
#offre .offre-cours {
    width: 40%;
    height: 520px;
    padding-left: 30px;
    padding-top: 20px;
    background-color: #f6ebf0;
    border-radius: 20px;
    margin-left: 100px;
}

.offre-cours h2{
    border-bottom: 2px solid #ff007f;
    color: #cc0000;
}

.referent {
    height: 200px;
    display: flex;


}

.offre-cours .post {
    height: 200px;
    width: 50%;
    /* color: #cc0000; */
}
.offre-cours .post h5{
    color: #cc0000;
}


.offre-cours .tiret {
    width: 30px;
    height: 5px;
    background-color: #ce1642;
    margin-left: 140px;
    margin-top: 30px;
}

.offre-cours .adresse {
    height: 110px;
    width: 120px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 20px;
    line-height: 10px;
    margin-top: 10px;
}

.offre-cours button{
    background-color: #ce1642;
    border-radius: 30px;
    padding: 8px;
    width: 100px;
    color: #ffffff;
    border: none;
    margin-left: 200px;
}

.offre-cours .border {
    border: 1px solid #ff007f;
    margin-top: 15px;

}

.offre-cours .lien {
    margin-top: 10px;
    margin-left: 450px;
}